.testimonial_section{
    /* background:url("../../../../public/Image/pexels-fwstudio-131634.jpg"); */
    /* opacity: 0.8; */
    /* padding-bottom:8% ; */
    background: #DBEDF3;
    height: 100vh;
    

}
.testinomial_heading{
    margin: 3rem;
    text-align: center;
    color: #1E5128;
    font-size: 4rem;
    font-weight: 600;
font-family: 'Poppins', sans-serif;
    
}


.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
    border-radius: 5px;
}

.testimonial .slick-prev::before,
.testimonial .slick-next::before {
    display: none;
}

.testimonial .slick-arrow.slick-next {
    right: -70px;
}

.testimonial .slick-arrow.slick-prev {
    left: -70px;
}

.testimonial .slick-dots li button:before {
    font-size: 15px;
}

.testimonial .slick-dots li {
    top: 15px;
}

.testinomial_image{
    margin: 2rem;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}